<div class="container">
  <h1>CROPIC</h1>
  <div class="container-card">
    <div class="row">
      <% @sentences.each do |sentence| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <p><%= sentence.phrase %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
